.pagination {
  margin: 5rem auto;
  display: flex;
  justify-content: center;

  .pagination-number {
    display: inline-flex;
    justify-content: center;

    .unactive {
      padding: 1rem 1.5rem;
      border-radius: 1rem;
      margin: 0 1rem;
      background-color: var(--color-gray-30);
      color: var(--color-gray-100);
    }

    .active {
      padding: 1rem 1.5rem;
      border-radius: 1rem;
      margin: 0 1rem;
      // background-color: var(--color-primary-30);
      background-color: var(--color-gray-50);
      // color: var(--color-primary);
      color: white;
      font-weight: 700;
    }
  }
}
