.seat-box {
  padding: 1rem;
  display: flex;

  .wing-table-box {
    padding: 1rem;
    .wing-table {
      .wing-seat {
        height: 4rem;
        line-height: 4rem;
        position: relative;
      }
    }

    &.right .wing-table .wing-seat {
      .wing-td {
        height: 4rem;
        width: 5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: start;
        margin-bottom: 2rem;
      }

      &.wing::after {
        content: "";
        position: absolute;
        right: 0;
        top: 6px;
        background-image: url("/img/icon-seat-wing.svg");
        background-position: center;
        width: 3rem;
        height: 3rem;
        background-repeat: no-repeat;
      }
    }

    &.left .wing-table .wing-seat {
      .wing-td {
        height: 4rem;
        width: 5rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-bottom: 2rem;
      }

      &.wing::after {
        content: "";
        position: absolute;
        left: 0;
        top: 6px;
        background-image: url("/img/icon-seat-wing.svg");
        background-position: center;
        width: 3rem;
        height: 3rem;
        background-repeat: no-repeat;
      }
    }
  }

  .section {
    padding: 1rem;
    background-color: var(--color-gray-10);
    border-radius: 1rem;
    width: 65rem;

    .seat-map {
      text-align: center;
      margin: 0 auto;

      .seat-map-tr {
        display: flex;
        gap: 2rem;
      }

      .seat-map-tr {
        margin-bottom: 2rem;
      }

      .seat_table {
        width: 4rem;
        height: 4rem;

        .seat {
          background-image: url("/img/seat.svg");
          background-repeat: no-repeat;
          width: 4rem;
          height: 4rem;
          background-size: 4rem;
          display: block;
          text-align: center;

          &.BLOCKED {
            background-image: url(/img/seat-unselect.svg);
          }
          &.OCCUPIED {
            background-image: url(/img/seat-unselect.svg);
          }
        }
      }
    }
  }
}
