.seat-select-box {
  display: flex;
  justify-content: space-between;

  // 오른쪽 박스
  .seat-select-right-box {
    .seat-map-guid {
      padding: var(--layout-padding);
      box-shadow: var(--box-shadow);
      border-radius: var(--title-extra);

      h3 {
        font-size: var(--title-large);
        margin-bottom: 3rem;
      }
      .seat-title-flex {
        display: flex;
        gap: 2rem;

        .seat-title-box {
          .seat-title {
            display: flex;
            text-align: center;
            align-items: center;

            .seat-icon {
              width: 3rem;
              height: 3rem;
              margin-right: 1rem;
            }

            p {
              font-size: var(--title-small);
              color: var(--color-gray-100);
              font-weight: 600;
            }
          }

          .seat-title + .seat-title {
            margin-top: 2rem;
          }
        }
      }
      .line {
        border-top: 2px solid var(--color-gray-30);
        margin: 3rem 0;
      }
      .facility-box-flex {
        display: flex;
        gap: 3.5rem;
        .facility-box {
          .facility {
            display: flex;
            text-align: center;
            align-items: center;

            .facility-icon {
              width: 3rem;
              height: 3rem;
              margin-right: 1rem;
            }

            p {
              font-size: var(--title-small);
              color: var(--color-gray-100);
              font-weight: 600;
            }
          }

          .facility + .facility {
            margin-top: 2rem;
          }
        }
      }
    }
  }
}

@media (max-width: 349px) {
  .seat-select-box {
    flex-direction: column-reverse;
    .seat-select-right-box {
      margin-bottom: 3rem;
    }
  }
}

@media (min-width: 349px) and (max-width: 499px) {
  .seat-select-box {
    flex-direction: column-reverse;

    .seat-select-right-box {
      margin-bottom: 3rem;
      .seat-map-guid {
        display: flex;

        .icon-box {
          margin-left: 3rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          .facility-box-flex,
          .seat-title-flex {
            gap: 1rem;
            .facility-box .facility .facility-icon,
            .seat-title-box .seat-title .seat-icon {
              width: 2rem;
              height: 2rem;
              margin-right: 1rem;
            }
          }

          .line {
            border-top: 2px solid var(--color-gray-30);
            margin: 2rem 0;
            width: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .seat-select-box {
    flex-direction: column-reverse;

    .seat-select-right-box {
      margin-bottom: 3rem;
      .seat-map-guid {
        display: flex;
        align-items: center;
        gap: 8rem;

        .icon-box {
          width: 60%;
          display: flex;
          flex-direction: column;

          justify-content: center;
          margin-right: 1rem;

          .facility-box-flex,
          seat-title-flex {
            gap: 1rem;
            .facility-box .facility .facility-icon,
            .seat-title-box .seat-title .seat-icon {
              width: 3rem;
              height: 3rem;
              margin-right: 1rem;
            }
          }

          .line {
            border-top: 2px solid var(--color-gray-30);
            margin: 2rem 0;
            width: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .seat-select-box {
    flex-direction: column-reverse;

    .seat-select-right-box {
      margin-bottom: 3rem;
      .seat-map-guid {
        display: flex;
        justify-content: space-between;

        h3 {
          margin: 3rem 0 3rem 1rem;
        }

        .icon-box {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          margin-right: 3rem;

          .facility-box-flex,
          seat-title-flex {
            gap: 3rem;
            .facility-box .facility .facility-icon,
            .seat-title-box .seat-title .seat-icon {
              width: 3rem;
              height: 3rem;
              margin-right: 1rem;
            }
          }

          .line {
            border-right: 2px solid var(--color-gray-30);
            margin: 0 2rem;
            height: 8rem;
          }
        }
      }
    }
  }
}
