.order {
  position: relative;

  .progress {
    top: calc(var(--header-height) * -1.2);
  }

  .flexVer {
    display: flex;
    gap: calc(var(--title-max) * 2);
    align-items: flex-start;

    & > .left-box {
      width: 100%;
    }
  }

  .title {
    line-height: 1;
    padding-bottom: var(--title-extra);
    border-bottom: 1px solid var(--color-gray-50);

    &.with-check {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      justify-content: space-between;

      .title-check-box {
        display: flex;
        font-size: var(--title-big);
        align-items: center;

        label {
          padding: unset;
          margin: unset;
          font-size: inherit;
          font-weight: 500;

          &::before {
            display: none;
          }
        }
      }
    }
  }

  section {
    & + section {
      margin-top: 7rem;
    }
  }

  .info-box {
    margin-top: calc(var(--title-extra) * 2);
    font-size: var(--title-small);
    color: var(--color-gray-100);
    padding: var(--title-extra);
    background: var(--color-gray-30);
    border-radius: var(--title-extra);
    display: flex;
    flex-direction: column;
    gap: 0.8em;

    li {
      position: relative;
      padding-left: 1.6em;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 1em;
        aspect-ratio: 1 / 1;
        background: url(/img/icon-warning.svg) no-repeat center;
        border-radius: 50%;
        left: 0;
        top: 0.1em;
      }
    }
  }

  .radio-box {
    display: flex;
    gap: var(--title-min);

    input {
      width: 0;
      border: none;

      &:checked + label {
        background: var(--color-primary);
        color: #fff;
      }
    }

    label {
      padding: var(--title-min) var(--title-large);
      background: var(--color-primary-30);
      color: var(--color-primary);
      border-radius: var(--title-min);
      margin: 0;
      font-weight: 500;

      &::before {
        display: none;
      }
    }
  }

  // 항공 상세
  .detail-box {
    article + article {
      margin-top: calc(var(--title-max) * 3);
    }

    .detail-title {
      display: flex;
      gap: var(--title-max);
      align-items: flex-start;
      font-size: var(--title-big);
      margin-bottom: var(--title-max);
      color: var(--color-gray-100);
      background: var(--color-gray-10);
      padding: var(--title-large);
      border-radius: var(--title-extra);

      .detail-info {
        display: flex;
        flex-wrap: wrap;
        gap: 0.4rem var(--title-max);
      }
      .badge {
        font-size: var(--title-small);
        padding: 0.4rem 1rem 0.3rem;
        flex-shrink: 0;
        white-space: nowrap;
      }
      .date {
        position: relative;
        padding-right: var(--title-max);
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 1px;
          height: 60%;
          background: var(--color-gray-50);
          top: 50%;
          transform: translateY(-50%);
          right: 0;
        }
      }
    }
    .detail-cont {
      & + .detail-cont {
        margin-top: var(--title-max);
      }
    }

    .detail-segment {
      display: flex;
      padding: var(--title-large);

      &.infoOtherStop + .detail-segment {
        margin-top: 3em;
      }

      .segment {
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: var(--title-extra);
        font-size: calc(var(--title-large) - 1px);

        &::before,
        &::after {
          content: "";
          position: absolute;
          background: var(--color-gray-50);
          top: var(--title-min);
        }

        &.left-box {
          align-items: center;
          padding-right: calc(var(--title-extra) * 3);
          font-weight: 500;
          justify-content: space-between;

          &::before,
          &::after {
            width: 0.3em;
            aspect-ratio: 1/1;
            right: 0;
            border-radius: 50%;
            transform: translateX(55%);
          }
          &::after {
            top: auto;
            bottom: var(--title-min);
          }
          span {
            letter-spacing: normal;
          }
        }

        &.right-box {
          padding-left: calc(var(--title-extra) * 3);
          font-weight: 600;

          &::before {
            width: 1px;
            transform: translateY(-50%);
            top: 50%;
            left: 0;
            height: calc(100% - calc(var(--title-min)) * 2);
          }
          &::after {
            display: none;
          }
          .iatacode {
            font-weight: 500;
          }
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          gap: calc(var(--title-small) / 2);
        }

        .img-box {
          width: calc(var(--title-max) * 1.1);
          aspect-ratio: 1/1;

          img {
            object-fit: scale-down;
          }
        }
      }
    }

    .tag-box {
      font-size: var(--title-small);
      font-weight: normal;
      display: flex;
      flex-wrap: wrap;
      gap: var(--title-min);
      max-width: 32rem;

      span {
        background: var(--color-gray-30) url(./) no-repeat center left
          var(--title-min) / auto var(--title-big);
        border-radius: 1em;
        padding: 0.6rem 1rem;
        padding-left: 3rem;

        &.bags {
          background-image: url(/img/icon-bags.svg);
          background-position: center left calc(var(--title-small) - 1px);
          letter-spacing: 0.06em;
        }
        &.class {
          background-image: url(/img/icon-class.svg);
        }
        &.aircraft {
          background-image: url(/img/icon-craft.svg);
          letter-spacing: 0.02em;
        }
        &.warning {
          background-image: url(/img/icon-warning-darkgray.svg);
          background-color: var(--color-primary-30);
        }
      }

      &.infoOtherStop {
        position: absolute;
        bottom: -2em;
        transform: translateY(100%);

        .warning {
          background-image: url(/img/icon-warning-primary.svg);
        }
      }
    }
  }

  // 영수증
  .receipt {
    h3 {
      font-size: var(--title-large);
    }

    dl {
      margin-top: var(--title-extra);
      display: flex;
      justify-content: space-between;
      color: var(--color-blue-100);

      dt {
        font-size: var(--title-medium);
        font-weight: bold;
      }
      dd {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 0.1em;
        font-size: var(--title-big);
        font-weight: 500;

        span {
          font-size: var(--title-small);
          color: var(--color-gray-100);
          font-weight: normal;
        }
      }
    }

    .show-btn {
      position: relative;
      background: var(--color-gray-30);
      padding: var(--title-medium);
      border-radius: 0.7em;
      box-sizing: border-box;
      display: block;
      width: 100%;
      text-align: center;
      margin-top: var(--title-extra);
      font-size: var(--title-small);
      transition: background-color var(--transition-duration);

      &:hover {
        background: var(--color-gray-50);
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        background: url(/img/icon-accordion-blue.svg) no-repeat center;
        width: 1rem;
        aspect-ratio: 10/6;
        top: 50%;
        transform: translateY(-50%);
        right: var(--title-extra);
        transition: all var(--transition-duration);
      }
      &.act::after {
        transform: translateY(-50%) rotate(180deg);
      }
    }

    .price-detail {
      margin-top: var(--title-max);
      max-height: 70svh;
      overflow-y: auto;

      .price + .price {
        margin-top: var(--title-large);
      }

      h4 {
        text-align: center;
        font-weight: 500;
        border-bottom: 1px solid var(--color-gray-30);
        padding-bottom: 0.6em;
        margin-bottom: 0.7em;
        font-size: var(--title-medium);
        display: flex;
        justify-content: space-between;
      }
      table {
        width: 100%;
        font-size: var(--title-medium);

        caption {
          display: none;
        }
        td {
          width: 30%;
          padding: 0.2em;
          color: var(--color-gray-100);

          &.tit {
            width: 40%;
          }
          &.price {
            text-align: right;
          }
        }
      }
    }
  }

  // 약관 동의, 정보 입력 공통
  .order-inner {
    .receipt-box {
      width: clamp(25rem, 30vw, 35rem);
      flex-shrink: 0;
      position: sticky;
      top: calc(var(--header-height) + 3.5rem);
    }

    .receipt {
      padding: var(--layout-padding);
      box-shadow: var(--box-shadow);
      border-radius: var(--title-extra);
    }
  }

  form {
    .btn-box {
      margin-top: 7rem;
    }
  }

  // 약관 동의
  .agree {
    .title {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .chk-box {
        font-size: var(--title-big);
      }
    }
  }

  // 정보 입력 및 결제
  .payment {
    .input-form {
      margin-top: var(--title-extra);
    }
    .input-flex {
      display: flex;
      flex-wrap: wrap;
      gap: calc(var(--title-medium) * 2)
        clamp(1.4rem, 1.7vw, calc(var(--title-medium) * 2));
    }
    .input-box {
      width: calc(50% - var(--title-medium));
      margin: 0;

      label {
        font-size: var(--title-medium);
      }
    }
    .btn-box {
      display: flex;
      gap: 1rem;
    }

    // 예약자 정보
    .reservation {
      .input-flex {
        margin-top: var(--title-extra);
      }
    }

    // 탑승객 정보
    .passenger {
      margin-top: 7rem;

      .input-toggle {
        margin-top: calc(var(--title-big) * 2);
      }

      .information {
        border: 1px solid var(--color-gray-50);
        border-radius: var(--title-medium);

        & + .information {
          margin-top: var(--title-extra);
        }

        h4 {
          display: flex;
          align-items: center;
          font-size: var(--title-large);
          position: relative;
          cursor: pointer;

          button {
            padding: var(--title-extra);
            width: 100%;
          }
          &::after {
            content: "";
            display: block;
            position: absolute;
            background: url(/img/icon-accordion-blue.svg) no-repeat center /
              cover;
            width: 1rem;
            aspect-ratio: 10/6;
            top: 50%;
            right: var(--title-extra);
            transform: translateY(-50%) rotate(180deg);
            transition: all var(--transition-duration);
          }
          &.act::after {
            transform: translateY(-50%);
          }
          .badge {
            margin-right: 0.8em;
            font-size: var(--title-medium);
          }
          .count {
            margin-left: 0.3em;
          }
        }

        .input-flex {
          padding: var(--title-extra);
          position: relative;

          &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: var(--color-gray-30);
          }
        }

        &.hide {
          h4::after {
            transform: translateY(-50%);
          }

          .input-flex {
            height: 0;
            overflow: hidden;
            padding: 0;
          }
        }
      }
    }
  }

  // 구매 완료
  .complete {
    .title {
      margin-bottom: var(--title-extra);
    }

    .reservation-box {
      text-align: center;
      font-size: var(--title-big);

      .reservation-tit {
        font-size: var(--title-extra);
        padding-top: var(--title-max);

        strong {
          font-weight: 500;
        }
      }
      .reservation-cont {
        color: var(--color-gray-100);
        margin-top: 0.3em;
      }
      dl {
        display: flex;
        justify-content: center;
        gap: var(--title-small);
        margin: var(--title-extra) auto 0;
        background: var(--color-primary-30);
        padding: var(--title-small) var(--title-max);
        width: max-content;
        border-radius: var(--title-small);
        font-weight: 500;

        dd {
          color: var(--color-primary);
          letter-spacing: normal;
        }
      }
    }

    .detail-box {
      margin-top: var(--title-extra);
    }

    .eticket-box {
      .e-ticket {
        display: flex;
        align-items: center;
        gap: var(--title-small);
        border: 1px solid var(--color-gray-50);
        border-radius: var(--title-medium);
        padding: var(--title-big) var(--title-extra);
        font-size: var(--title-large);

        & + .e-ticket {
          margin-top: var(--title-extra);
        }
        .button {
          margin-left: auto;
        }
      }
    }
  }

  @media (max-width: 1023px) {
    .progress {
      top: calc(var(--header-height) * -0.4);
    }

    .flexVer {
      flex-direction: column;

      &:not(.eticket-box) > .left-box {
        order: 1;
      }
      &:not(.eticket-box) > .receipt {
        order: 0;
      }
    }

    .detail-box {
      .detail-title {
        .date {
          padding: 0;
          &::after {
            display: none;
          }
        }
      }
      .detail-segment {
        .segment {
          font-size: calc(var(--title-large) - 2px);

          &.left-box {
            padding-right: calc(var(--title-extra) * 1.5);
          }
          &.right-box {
            padding-left: calc(var(--title-extra) * 1.5);
          }

          .tag-box {
            max-width: none;
          }
        }
      }
    }

    .order-inner {
      padding-top: 6rem;
      .receipt-box {
        width: 100%;
        position: relative;
        top: unset;
      }
      .receipt .price-detail {
        max-height: none;
      }
    }

    .complete {
      .info-box {
        display: none;
      }
    }
  }

  @media (max-width: 767px) {
    .payment .input-box {
      width: 100%;
    }
  }
}
