.badge {
  display: inline-block;
  font-size: var(--title-small);
  font-weight: 500;
  line-height: 1;
  padding: 0.45em 1rem;
  border-radius: 0.8em;
  box-sizing: border-box;

  &.primary {
    background-color: var(--color-primary-30);
    color: var(--color-primary);
  }

  &.true {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  &.secondary {
    background-color: #dde7ff;
    color: var(--color-secondary);
  }

  &.gray {
    background-color: var(--color-gray-30);
    color: var(--color-gray-100);
  }

  &.deep {
    background-color: var(--color-gray-30);
    color: var(--color-blue-100);
  }
}
