.badge {
  font-size: var(--title-small);
  font-weight: 500;
  padding: 0.3rem 1rem;
  border-radius: 0.8rem;
  box-sizing: border-box;

  &.primary {
    background-color: var(--color-primary-30);
    color: var(--color-primary);
  }

  &.secondary {
    background-color: #dde7ff;
    color: var(--color-secondary);
  }

  &.gray {
    background-color: var(--color-gray-30);
    color: var(--color-gray-100);
  }
}
