.recent-search {
  background-color: var(--color-gray-10);

  .recent-search-wrapper {
    width: 100%;
    max-width: var(--layout-pc);
    padding: 0 var(--layout-padding);
    box-sizing: border-box;
    margin: 0 auto;

    .recent-search-layout {
      display: flex;
      gap: 5.6rem;
      position: relative;

      .recent-search-menu {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-top: 2.6rem;
        padding-bottom: 6rem;
        box-sizing: border-box;

        & h3 {
          font-size: var(--title-extra);
          font-weight: 700;
          color: var(--color-black);
        }

        & button {
          font-size: var(--title-medium);
          font-weight: 400;
          color: var(--color-gray-100);
          transition: all var(--transition-duration);

          &:hover {
            font-weight: 600;
            text-decoration: underline;
          }
        }
      }

      .recent-search-results {
        flex-grow: 1;
        margin-top: 1rem;
        margin-bottom: 1.2rem;
        padding: 1.3rem 0 1.7rem 4rem;

        box-sizing: border-box;
        display: flex;
        align-items: center;
        gap: 2rem;
        overflow-x: scroll;
        min-width: 0;
        position: relative;
      }

      &::after {
        content: "";
        width: 9.3rem;
        height: 100%;
        padding-top: 1rem;
        padding-bottom: 1.2rem;
        box-sizing: border-box;
        top: 0;
        right: 0;
        position: absolute;
        background: linear-gradient(
          270deg,
          #f8f8f8 0%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }
  }
}

@media (max-width: 1023px) {
  .recent-search {
    margin-bottom: 5.6rem;

    .recent-search-wrapper {
      padding-top: 2rem;
      padding-bottom: 2rem;
      box-sizing: border-box;

      .recent-search-layout {
        flex-direction: column;
        gap: 1rem;
        position: relative;

        .recent-search-menu {
          padding: unset;
          width: 100%;
          flex-direction: row;

          & h3 {
            flex-grow: 1;
            font-size: var(--title-medium);
          }

          & button {
            font-size: var(--title-small);
          }
        }

        .recent-search-results {
          padding: unset;
          margin: unset;
          display: flex;
          align-items: center;
          gap: 1rem;
          overflow-x: scroll;
          min-width: 0;
          position: relative;

          .recent-search-blur {
            background: linear-gradient(
              270deg,
              #f8f8f8 0%,
              rgba(255, 255, 255, 0) 100%
            );
            position: fixed;
            top: 5rem;
            bottom: 2rem;
            right: var(--layout-padding);
            width: 5rem;
            z-index: 1;
          }
        }

        &::after {
          all: unset;
        }
      }
    }
  }
}
