.ticket-box {
  padding: calc(var(--title-max) * 1.5) var(--title-max)
    calc(var(--title-max) * 2.2);
  max-width: 41.2rem;
  position: relative;

  &.defualt-ver {
    overflow: hidden;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background: #fff;
    mask-image: radial-gradient(
      circle closest-corner at center bottom,
      transparent 18%,
      var(--color-gray-30) 18%,
      #fff 18%
    );
    border: 1px solid var(--color-gray-50);
    border-radius: clamp(2rem, 3vw, 4rem);
    z-index: 0;
    pointer-events: none;
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid var(--color-gray-50);
    border-radius: 50%;
    width: 18%;
    aspect-ratio: 1 / 1;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, calc(50% + 0.5px));
    clip-path: circle(50% at 50% 40%);
    z-index: 1;
    pointer-events: none;
  }

  & > div {
    position: relative;
    z-index: 1;
  }

  .flex-box {
    display: flex;
    gap: var(--title-small);
  }

  dl {
    letter-spacing: normal;
    line-height: 1;
    dt,
    dd {
      letter-spacing: inherit;
      line-height: inherit;
    }
    dt {
      color: var(--color-gray-100);
      font-size: var(--title-small);
    }
    dd {
      font-weight: 500;
      font-size: var(--title-big);
      margin-top: 0.2em;
    }
  }

  .top-box {
    .barcode {
      width: 9rem;
      height: 6rem;
      margin-bottom: var(--title-extra);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
      }
    }
    .flex-box dl {
      width: 50%;
    }
  }

  .img-box {
    width: calc(100% + calc(var(--title-max)) * 2);
    margin: var(--title-extra) calc(var(--title-max) * -1) var(--title-max);
    position: relative;
    aspect-ratio: 16 / 9;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: calc(var(--title-extra) * 3);
      right: 0;
      transform: translateY(-100%);
      background: url(/img/img-ticket-stamp.svg) no-repeat center / cover;
      width: calc(var(--title-max) * 10);
      aspect-ratio: 240/228;
      opacity: 0.2;
    }
    img {
      width: 100%;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.4);
      color: var(--color-white);
      transition: all var(--transition-duration);
      font-size: var(--title-large);
      opacity: 0;
      visibility: hidden;
      z-index: 1;
    }

    &:hover a {
      opacity: 1;
      visibility: visible;
    }
  }

  .segment-box {
    & + .segment-box {
      padding-top: calc(var(--title-max) * 1.5);
      margin-top: var(--title-max);
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: calc(var(--title-max) * -1);
        top: 0;
        background: var(--color-gray-50);
        width: calc(100% + calc(var(--title-max) * 2));
        height: 1px;
      }
    }

    .path {
      position: relative;
      border-top: 2px dashed var(--color-gray-90);
      display: flex;
      justify-content: space-between;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, calc(-50% - 1px));
        background: url(/img/icon-airline.svg) no-repeat center / cover;
        width: calc(var(--title-extra) * 2);
        aspect-ratio: 1/1;
        filter: brightness(0.7);
      }
      & > span {
        position: relative;
        padding-top: 0.7em;
        color: var(--color-gray-100);
        font-weight: 500;
        letter-spacing: 0.03em;

        &::before {
          content: "";
          display: block;
          position: absolute;
          width: var(--title-medium);
          aspect-ratio: 1/1;
          background: var(--color-gray-90);
          border-radius: 50%;
          border: 2.5px solid var(--color-gray-30);
          outline: 2.5px solid var(--color-gray-90);
          top: 0;
          left: 0;
          transform: translateY(calc(-50% - 2px));
          box-sizing: border-box;
        }

        &.arrival {
          &::before {
            left: auto;
            right: 0;
            background: var(--color-gray-30);
          }
        }
      }
    }

    .flight-box {
      margin-top: var(--title-big);
      display: flex;
      flex-direction: column;
      gap: 0.7em;

      dl:first-child {
        width: 47%;
      }
      dl:nth-child(2) {
        width: 30%;
      }

      .barcode {
        margin-top: var(--title-min);
        aspect-ratio: 17 / 2;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  // canvas
  .canvas-inner {
    position: absolute;
    inset: 0;
    aspect-ratio: 16 / 9;
    width: 100%;
    font-size: var(--title-big);

    .canvas-box {
      aspect-ratio: inherit;

      canvas {
        position: relative;
        z-index: 1;
      }
      .attached-image {
        position: absolute;
        inset: 0;
        aspect-ratio: inherit;
      }
    }

    .tool-box {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(calc(100% + 5rem));

      .tool-inner {
        display: flex;
        flex-direction: column;
        gap: var(--title-medium);

        & > div {
          display: flex;
          gap: var(--title-medium);
        }

        .tool {
          display: flex;
          flex-direction: column;
          padding: calc(var(--title-max) * 3) var(--title-medium)
            var(--title-max);
          border: 1px solid var(--color-gray-50);
          border-radius: var(--title-small);
          background: #fff url(/img/icon-ticket-color.svg) no-repeat center top
            var(--title-large) / auto calc(var(--title-big) * 2);
          min-width: 5rem;
        }

        .color-box {
          gap: var(--title-big);

          label {
            width: calc(var(--title-medium) * 2);
            aspect-ratio: 1/1;
            border-radius: 0.3em;

            &.act {
              outline-color: var(--color-primary);
            }
          }

          input {
            opacity: 0;
          }
        }

        .size-box {
          background-image: url(/img/icon-ticket-size.svg);
        }

        .tool-middel {
          button {
            width: 5rem;
            aspect-ratio: 1/1;
            background: var(--color-white) url(/img/icon-ticket-undo.svg)
              no-repeat center / calc(var(--title-big) * 2);
            border-radius: var(--title-small);
            border: 1px solid var(--color-gray-50);

            &.clear {
              background-image: url(/img/icon-ticket-clear.svg);
            }
          }
        }
      }

      .btn-box {
        margin-top: var(--title-large);
        display: flex;
        flex-direction: column;
        gap: var(--title-medium);

        button,
        label {
          display: block;
          width: calc(5rem * 2 + var(--title-medium));
          padding: 0.7em 0;
          background: var(--color-gray-30);
          color: var(--color-blue-100);
          border-radius: var(--title-small);
          text-align: center;

          &.primary-ver {
            background: var(--color-primary);
            color: var(--color-white);
          }
          &.secondary-ver {
            background: var(--color-primary-30);
            color: var(--color-primary);
          }
        }
      }

      button,
      label {
        transition: all var(--transition-duration);
        outline: 2px solid transparent;

        &:hover {
          outline-color: var(--color-primary);
        }
      }
    }
  }
}
