.seat-box {
  display: flex;
  justify-content: center;
  max-width: 70rem;

  .wing-table-box {
    padding: 1rem 0;
    .wing-table {
      .wing-seat {
        height: 4rem;
        line-height: 4rem;
        position: relative;
      }
    }

    &.right {
      padding-left: 1rem;
      .wing-table .wing-seat {
        .wing-td {
          height: 4rem;

          text-align: center;
          display: flex;
          align-items: center;
          justify-content: start;
          margin-bottom: 1.5rem;
          font-size: var(--title-big);
        }

        &.wing::after {
          content: "";
          position: absolute;
          right: 0;
          top: 6px;
          background-image: url("/img/icon-seat-wing.svg");
          background-position: center;
          width: 3rem;
          height: 3rem;
          background-repeat: no-repeat;
        }

        &.exit::before {
          content: "";
          position: absolute;
          right: 0;
          top: 6px;
          width: 3rem;
          height: 3rem;
          background-image: url("/img/icon-seat-exit.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }

    &.left {
      padding-right: 1rem;
      .wing-table .wing-seat {
        .wing-td {
          height: 4rem;

          text-align: center;
          display: flex;
          align-items: center;
          justify-content: end;
          margin-bottom: 1.5rem;
          font-size: var(--title-bih);
        }

        &.wing::after {
          content: "";
          position: absolute;
          left: 0;
          top: 6px;
          background-image: url("/img/icon-seat-wing.svg");
          background-position: center;
          width: 3rem;
          height: 3rem;
          background-repeat: no-repeat;
        }

        &.exit::before {
          content: "";
          position: absolute;
          left: 0;
          top: 6px;
          width: 3rem;
          height: 3rem;
          background-image: url("/img/icon-seat-exit.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }

  .section {
    margin: 0 3rem;
    padding: 1rem;
    background-color: var(--color-gray-10);
    border-radius: 1rem;
    width: 100%;

    .seat-map {
      text-align: center;
      margin: 0 auto;

      .seat-map-tr {
        display: flex;
        gap: 1rem;
      }

      .seat-map-tr {
        margin-bottom: 1.5rem;
      }

      .seat_table {
        width: 4rem;
        height: 4rem;

        .seat {
          background-image: url("/img/seat.svg");
          background-repeat: no-repeat;
          width: 4rem;
          height: 4rem;
          background-size: 4rem;
          display: block;
          text-align: center;
          font-size: var(--title-medium);
          font-weight: 500;
          color: var(--color-gray-100);
          transition: all var(--transition-duration);

          &.BLOCKED {
            background-image: url(/img/seat-unselect.svg);
            pointer-events: none;
          }
          &.OCCUPIED {
            background-image: url(/img/seat-unselect.svg);
            pointer-events: none;
          }
        }
        .clicked-seat {
          background-image: url("/img/seat-selected.svg");
          color: var(--color-primary-30);
          transition: all var(--transition-duration);
        }

        .facility {
          display: none;
          pointer-events: none;
          &.toilet {
            display: block;
            background-image: url("/img/icon-seat-toilet.svg");
            background-position: center;
            width: 4rem;
            height: 4rem;
            background-repeat: no-repeat;
          }

          &.galley {
            display: block;
            background-image: url("/img/icon-seat-galley.svg");
            background-position: center;
            width: 4rem;
            height: 4rem;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}

@keyframes fadeOutAfter {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutBefore {
  0% {
    opacity: 10%;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 349px) {
  .seat-box .section {
    overflow-x: auto;
  }
}

@media (min-width: 349px) and (max-width: 499px) {
  .section {
    overflow-x: auto;
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .seat-box {
    justify-content: center;

    .section {
      overflow-x: auto;

      .seat-map {
        .seat-map-tr {
          display: flex;
          gap: 1rem;
          margin-bottom: 1.5rem;
        }

        .seat_table {
          width: 3.5rem;
          height: 3.5rem;

          .seat {
            width: 3.5rem;
            height: 3.5rem;
            background-size: 3.5rem;
            font-size: var(--title-small);
          }

          .facility {
            &.toilet,
            &.galley {
              width: 3rem;
              height: 3rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .seat-box {
    justify-content: center;
    // position: relative;

    .section {
      height: fit-content;
      .seat-map {
        position: relative;
        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: black;
          top: 0;
          animation: fadeOutBefore 5s forwards;
        }
      }
    }
    // &::after {
    //   content: "좌석을 좌우로 움직..";
    //   top: 10rem;
    //   left: calc(100% - 50%);
    //   transform: translateX(-50%);
    //   font-size: var(--title-large);
    //   position: absolute;
    //   font-weight: 800;
    //   color: black;
    //   text-align: center;
    //   opacity: 1;
    //   animation: fadeOutAfter 5s forwards;
    // }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .seat-map .section {
    overflow-x: auto;
  }
}
