.main {
  .full-width {
    min-width: 320px;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .search-container {
    padding: 8rem 0;

    background-image: url("/img/img-airplane-main.jpg");
    background-position: center;
    background-size: cover;

    .search-box {
      width: calc(100% - (2 * var(--layout-padding)));
      max-width: calc(var(--layout-pc) - (2 * var(--layout-padding)));

      margin: 0 auto;
      height: 16rem;
      border-radius: 2rem;
      background-color: var(--color-white);
    }
  }

  .notices {
    .notice-menu {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 0.25rem;
      padding-bottom: 2rem;
      border-bottom: 0.1rem solid var(--color-gray-90);
      box-sizing: border-box;
      margin-bottom: 2.6rem;

      & h3 {
        font-size: var(--title-extra);
        color: var(--color-black);
        font-weight: 700;
      }

      & a {
        margin-left: auto;

        display: flex;
        align-items: center;
        gap: 1.6rem;
        transition: text-decoration var(--transition-duration);

        &:hover {
          text-decoration: underline;
        }

        & span {
          font-size: var(--title-big);
          color: var(--color-gray-90);
          font-weight: 500;
        }

        & img {
          width: 0.7rem;
        }
      }
    }

    .notice-items {
      .notice-item {
        display: flex;
        align-items: center;
        gap: 4.5rem;
        margin-bottom: 2rem;

        .badge {
          font-size: var(--title-small);
          font-weight: 500;
          padding: 0.3rem 1rem;
          border-radius: 0.8rem;
          box-sizing: border-box;

          &.primary {
            background-color: var(--color-primary-30);
            color: var(--color-primary);
          }
        }

        & a {
          flex-grow: 1;
          font-size: var(--title-large);
          color: var(--color-gray-100);
          font-weight: 500;
          min-width: 0;
          overflow-x: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          transition: text-decoration var(--transition-duration);

          &:hover {
            text-decoration: underline;
          }
        }

        & p {
          margin-left: auto;
          font-size: var(--title-medium);
          color: var(--color-gray-90);
          font-weight: 400;
        }

        &:last-child {
          margin-bottom: unset;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .main {
    .notices {
      .notice-menu {
        padding: unset;
        padding-bottom: 1rem;
        margin-bottom: 1.3rem;

        & h3 {
          font-size: var(--title-large);
          color: var(--color-black);
          font-weight: 700;
        }

        & a {
          gap: 0.6rem;

          & span {
            font-size: var(--title-medium);
          }
        }
      }

      .notice-items {
        .notice-item {
          gap: 2rem;
          margin-bottom: 1rem;

          & a {
            flex-grow: 1;
            font-size: var(--title-medium);
            color: var(--color-gray-100);
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media (max-width: 499px) {
  .main {
    .search-container {
      padding: 3rem 0;
      margin-bottom: 5.6rem;

      .search-box {
        height: 32rem;
      }
    }
  }
}
