.main {
  .full-width {
    min-width: 320px;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .search-container {
    height: 32rem;

    background-image: url("/img/img-airplane-main.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 5rem;
  }

  .banner {
    height: 44rem;

    position: relative;
    display: flex;
    flex-direction: column;
  }

  .banner-background {
    margin-top: auto;
    height: 29rem;
    background-color: #e3fce7;
  }
}

@media (max-width: 1023px) {
  .main {
    .search-container {
      height: 36rem;
      margin-bottom: 5.6rem;
    }

    .banner {
      height: 13.4rem;

      .banner-background {
        height: 13rem;
      }
    }
  }
}
