.containerLayout {
  padding-top: var(--header-height);
  padding-bottom: 12rem;
  min-height: 100svh;
  box-sizing: border-box;
  position: relative;

  &.primaryVer {
    padding-top: calc(var(--header-height) + 12rem);
  }
}

/* 공통 레이아웃  */
.layout {
  max-width: var(--layout-pc);
  margin: 0 auto;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}
.title {
  font-size: var(--title-max);
  font-weight: bold;
}

/* 스크린 리더기 적용 위함 */
.hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

/* form 에러 메시지 */
.errorMsg {
  color: var(--color-error);
}

// next Image 부모 크기에 따라가도록 설정
.img-box {
  // img-box에 원하는 너비 설정

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
  }
}

/* 정보 입력 input, label */
.input-form {
  fieldset + fieldset {
    margin-top: 3rem;
  }
  label {
    position: relative;
    padding-left: var(--title-medium);
    margin-bottom: clamp(0.7rem, 0.65vw, 1rem);
    display: block;
    font-size: var(--title-big);

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 0.4rem;
      aspect-ratio: 1/1;
      background: var(--color-primary);
      border-radius: 50%;
    }

    &.non-required::before {
      background: var(--color-gray-90);
    }

    .errorMsg {
      display: inline-block;
      margin-left: var(--title-min);
      font-size: var(--title-medium);
    }
  }

  .input-phone {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--color-gray-90);
  }
}

/* input 간격 */
.input-box {
  & + .input-box {
    margin-top: 2rem;
  }
}
.chk-box {
  display: inline-block;

  & + .chk-box {
    margin-left: 2rem;
  }
}

// input type: range
.input-range {
  width: 0.4rem;
  background: linear-gradient(
    to bottom,
    var(--color-primary) 0%,
    var(--color-primary) 40%,
    var(--color-gray-50) 40%,
    var(--color-gray-50) 100%
  );
  outline: none;
  transition: all var(--transition-duration);
  -webkit-appearance: none;

  &::-webkit-slider-thumb {
    position: relative;
    z-index: 1;
    -webkit-appearance: none;
    background-color: #fff;
    width: var(--title-large);
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 0.3rem solid var(--color-primary);
    outline: none;
    cursor: pointer;
    transition: all var(--transition-duration);
  }

  &.horizontal {
    background: linear-gradient(
      to right,
      var(--color-primary) 0%,
      var(--color-primary) 100%,
      var(--color-gray-50) 0%,
      var(--color-gray-50) 0%
    );
  }
}

/* 스켈레톤 UI */
.skeleton-ani {
  background: var(--color-gray-90);
  overflow: hidden;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    animation: 2s skeleton-ani forwards infinite ease-in-out;
    background-image: linear-gradient(
      125deg,
      transparent 30%,
      rgba(242, 242, 242, 0.3),
      transparent 60%
    );
  }

  @keyframes skeleton-ani {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
}

/* 반응형 고려 - 지금은 mobile first */
.mo {
  display: none;
}

.pc {
  display: block;
}

.text-upper {
  text-transform: uppercase;
}

/* 모바일 */
@media (max-width: 1023px) {
  .containerLayout {
    padding-bottom: 5.6rem;
  }
}
