.containerLayout {
  padding-top: var(--header-height);
  padding-bottom: 12rem;
  min-height: 100svh;
  box-sizing: border-box;
  position: relative;
}

.containerLayout.primaryVer {
  padding-top: calc(var(--header-height) + 12rem);
}

/* 공통 레이아웃  */
.layout {
  max-width: var(--layout-pc);
  margin: 0 auto;
  padding-left: var(--layout-padding);
  padding-right: var(--layout-padding);
}
.title {
  font-size: var(--title-max);
  font-weight: bold;
}

/* 스크린 리더기 적용 위함 */
.hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

/* form 에러 메시지 */
.errorMsg {
  color: var(--color-error);
}

/* input 간격 */
.input-box + .input-box {
  margin-top: 2rem;
}
.chk-box {
  display: inline-block;
}
.chk-box + .chk-box {
  margin-left: 2rem;
}

/* 반응형 고려 - 지금은 mobile first */
.mo {
  display: none;
}

.pc {
  display: block;
}

/* 모바일 */
@media (max-width: 1023px) {
  .containerLayout {
    padding-bottom: 5.6rem;
  }
}
