.containerLayout {
  max-width: var(--layout-pc);
  padding: 60px var(--layout-padding) 10rem var(--layout-padding); /* 기본 padding-top을 60px로 설정 */
  margin: 0 auto;
  min-height: 100svh;
  box-sizing: border-box;
}

/* 스크린 리더기 적용 위함 */
.hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

/* form 에러 메시지 */
.errorMsg {
  color: var(--color-error);
}

/* 반응형 고려 - 지금은 mobile first */
.mo {
  display: none;
}

.pc {
  display: block;
}

/* 모바일 */
@media (max-width: 1023px) {
  .containerLayout {
    padding-top: 30px;
    padding-bottom: 5rem;
  }
}
