:root {
  --color-primary: #ff5b10;
  --color-primary-hover: #f24d00;
  --color-primary-30: #ffeadf;

  --color-secondary: #0348ea;
  --color-secondary-hover: #003ed0;
  --color-secondary-30: #dde7ff;

  --color-error: var(--color-primary);

  --color-black: #030035;
  --color-blue-100: #02076f;
  --color-gray-10: #f8f8f8;
  --color-gray-30: #f2f3f5;
  --color-gray-50: #cbd0d5;
  --color-gray-90: #b0b8bf;
  --color-gray-100: #737980;

  --color-white: #ffffff;

  --header-height: 7.2rem;

  --layout-pc: 1080px;
  --layout-padding: 3rem;
  --layout-header-bottom: 4rem;

  --title-max: 2.4rem;
  --title-extra: 2rem;
  --title-large: 1.8rem;
  --title-big: 1.6rem;
  --title-medium: 1.4rem;
  --title-small: 1.2rem;

  --transition-duration: 0.3s;
  --box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
}
