.schedule-modal {
  width: 60%;
  top: 0;
  right: 0;

  height: 100%;
  background-color: var(--color-white);
  position: absolute;
  border-radius: 2rem;
  padding: 4.5rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  & .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;

    & img {
      width: 2rem;
      height: 2rem;
    }
  }

  .calendars {
    width: 100%;
    flex-grow: 1;

    .calendar {
      flex-grow: 1;

      .month-navigation {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;

        .month {
          flex-grow: 1;
          text-align: center;
          font-size: var(--title-extra);
          font-weight: 500;
          color: var(--color-blue-100);

          &.month-one {
            margin-left: -3rem;
          }

          &.month-two {
            margin-right: -3rem;
          }
        }

        .prev-month,
        .next-month {
          width: 3rem;
          height: 3rem;

          display: flex;
          align-items: center;
          justify-content: center;

          & img {
            width: 0.8rem;
          }
        }

        .prev-month {
          & img {
            transform: rotate(-180deg);
          }
        }
      }

      .react-calendar__viewContainer {
        display: flex;
        gap: 4rem;
        flex-shrink: 0;
      }

      .react-calendar__month-view {
        width: 100%;
      }

      .react-calendar__month-view__weekdays__weekday {
        margin-bottom: 2rem;
        text-align: center;

        & abbr {
          text-decoration: none;
          font-size: var(--title-big);
          font-weight: 500;
          color: var(--color-gray-100);
        }

        &:nth-child(1) {
          & abbr {
            color: var(--color-primary);
          }
        }

        /* 토요일 */
        &:nth-child(7) {
          abbr {
            color: var(--color-secondary);
          }
        }
      }

      .react-calendar__month-view__days__day {
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;

        & abbr {
          font-size: var(--title-large);
          font-size: 400;
        }

        &:nth-child(n + 36) {
          display: none;
        }

        &:disabled {
          cursor: not-allowed;

          & abbr {
            color: var(--color-gray-90);
          }
        }

        &.saturday {
          color: var(--color-secondary);
        }

        &.sunday {
          color: var(--color-primary);
        }
      }

      .react-calendar__month-view__days__day--neighboringMonth {
        visibility: hidden;
      }

      .react-calendar__tile {
        & > abbr {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }
      }

      .react-calendar__month-view__days__day:hover {
        & > abbr {
          box-shadow: inset 0 0 0 0.1rem var(--color-primary);
        }
      }

      .react-calendar__tile.react-calendar__tile--now {
        position: relative;
        display: flex;
        flex-direction: column;

        & > abbr {
          background: var(--color-secondary-30);
          align-items: center;
          padding-bottom: 0.4rem;
        }

        .tile-today {
          position: absolute;
          bottom: 0.2rem;
          left: 50%;
          transform: translateX(-50%);
          font-size: 0.8rem;
          font-weight: 400;
          color: var(--color-secondary);
        }
      }

      .react-calendar__tile--active {
        &.react-calendar__tile--range {
          background-color: var(--color-primary-30);
        }

        &.react-calendar__tile--range.react-calendar__tile--rangeBothEnds {
          background-color: unset;

          & > abbr {
            background-color: var(--color-primary);
            font-weight: 500;
            color: var(--color-white);
          }
        }

        &.react-calendar__tile--range.react-calendar__tile--rangeStart {
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
          background-color: var(--color-primary-30);

          & > abbr {
            background-color: var(--color-primary);
            font-weight: 500;
            color: var(--color-white);
          }

          &.react-calendar__tile--now {
            .tile-today {
              color: var(--color-white);
            }
          }
        }

        &.react-calendar__tile--range.react-calendar__tile--rangeEnd {
          border-top-right-radius: 50%;
          border-bottom-right-radius: 50%;

          & > abbr {
            background-color: var(--color-primary);
            font-weight: 500;
            color: var(--color-white);
          }
        }
      }
    }
  }
  .select-button {
    margin-top: auto;

    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 1023px) {
  .schedule-modal {
    position: absolute;
    height: fit-content;
    width: 100%;
    min-width: 320px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    top: unset;
    right: unset;
    bottom: 0;
    gap: 2rem;

    .calendars {
      flex-grow: unset;
      max-width: 40rem;
      margin: 0 auto;

      .calendar {
        .month-navigation {
          .month {
            &.month-one {
              margin-left: unset;
            }
          }
        }

        .react-calendar__month-view__weekdays__weekday {
          margin-bottom: unset;
        }

        .react-calendar__tile.react-calendar__tile--now {
          position: relative;
          display: flex;
          flex-direction: column;
          padding-bottom: 0.1rem;

          & > abbr {
            background: var(--color-secondary-30);
            align-items: center;
            padding-bottom: 0.3rem;
          }

          .tile-today {
            bottom: 0.5rem;
          }
        }
      }
    }

    .select-button {
      max-width: 40rem;
      margin: 0 auto;
    }
  }
}
