@mixin center-xy() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-layout {
  @include center-xy();
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9999;

  .modal-window {
    width: 40rem;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 2rem;
    box-sizing: border-box;
    background-color: var(--color-white);
    position: relative;
  }

  .modal-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2.5rem;
    height: 2.5rem;

    & img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .modal-title {
    font-size: var(--title-extra);
    font-weight: 700;
    text-align: center;
    margin-bottom: 4rem;
  }

  .modal-content {
    font-size: var(--title-big);
    font-weight: 500;
    text-align: center;
    margin-bottom: 4rem;
  }

  .modal-button-container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}

@media (max-width: 1023px) {
  .modal-layout {
    padding: 0 var(--layout-padding);

    .modal-window {
      width: 100%;
      max-width: 40rem;

      .modal-title {
        font-size: var(--title-big);
        margin-bottom: 2rem;
      }

      .modal-content {
        font-size: var(--title-small);
        margin-bottom: 2rem;
      }
    }
  }
}
