.text-box {
  padding: 2rem;
  position: relative;

  .print-button {
    position: absolute;
    margin-top: calc(var(--title-max) * 1.5);
    right: calc(var(--title-max) * 2);
    z-index: 999;
  }
}
