.ticket {
  background-color: white;
  box-shadow: var(--box-shadow);
  border-radius: 2rem;

  .journey-box {
    display: flex;
    justify-content: center;
    padding: 8rem 0;

    .journey {
      display: flex;
      justify-content: space-between;
      gap: 8rem;
      // box-shadow: inset 0 0 10px red;
      border-top: 0.2rem solid var(--color-gray-50);

      .stopover {
        display: flex;
        flex-direction: column;

        .img-box {
          text-align: center;
          img {
            width: 3rem;
            height: 3rem;
            margin: 0 auto;
            transform: translateY(-50%);
          }
        }

        .stopover-number {
          font-size: var(--title-medium);
          font-weight: 400;
          color: var(--color-gray-100);
          text-align: center;
        }
      }

      .departure,
      .arrival {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: relative;

        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 1.6rem;
          height: 1.6rem;
          border-radius: 1rem;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &::before {
          content: "";
          display: block;
          position: absolute;
          width: 3rem;
          height: 3rem;
          background-color: gray;
        }

        .airport-code {
          font-size: var(--title-max);
          font-weight: 500;
          padding-top: 2rem;
          margin-bottom: 2rem;
        }

        .airport-kr {
          font-size: var(--title-large);
          font-weight: 400;
          color: var(--color-gray-100);
          margin-bottom: 1rem;
        }

        .airline-at {
          font-size: var(--title-medium);
          font-weight: 400;
          color: var(--color-gray-100);
        }
      }

      .departure {
        &::after {
          background-color: var(--color-blue-100);
        }

        &::before {
          transform: translate(-10%, -50%);
        }
      }

      .arrival {
        &::after {
          background-color: var(--color-primary);
        }

        &::before {
          transform: translate(90%, -50%);
        }
      }
    }
  }

  .table-box {
    display: flex;

    .table-top,
    .table-bottom {
      width: 50%;
    }
    table {
      width: 100%;
      overflow: hidden;

      thead {
        background-color: var(--color-gray-30);

        th {
          background-color: var(--color-gray-30);
          font-size: var(--title-medium);
          color: var(--color-gray-100);
          font-weight: 500;
          border-bottom: 0.5px solid var(--color-gray-100);
          line-height: 4rem;
        }
      }

      tbody {
        td {
          font-size: var(--title-big);
          text-align: center;
          line-height: 6.5rem;
        }
      }
    }
  }
}

.ticket + .ticket {
  margin-top: 4rem;
}

@media (max-width: 767px) {
  .ticket {
    .table-box {
      flex-direction: column;

      .table-top,
      .table-bottom {
        width: 100%;
      }

      th,
      td {
        width: 33%;
      }
    }
    .journey-box .journey {
      .departure {
        .airport-code {
          font-size: var(--title-extra);
        }

        .airport-kr {
          font-size: var(--title-large);
        }
      }

      .arrival {
        .airport-code {
          font-size: var(--title-extra);
          margin-bottom: 1rem;
        }
      }
    }
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .ticket {
    .journey-box {
      padding: 5rem 2rem 4rem 2rem;
      .journey {
        .departure,
        .arrival {
          .airport-code {
            font-size: var(--title-extra);
            margin-bottom: 1rem;
          }

          .airport-kr {
            font-size: var(--title-large);
          }
          .airline-at {
            font-size: var(--title-small);
          }
        }
      }
    }
  }
}

@media (min-width: 349px) and (max-width: 500px) {
  .ticket {
    .journey-box {
      .journey {
        gap: 5rem;
      }
    }
  }
}

@media (max-width: 349px) {
  .ticket {
    .journey-box {
      padding: 5rem 2rem 4rem 2rem;
      .journey {
        gap: 5rem;
        .departure,
        .arrival {
          .airline-at {
            display: none;
          }
          .airport-kr {
            font-size: var(--title-medium);
          }
          .airport-code {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
