.footer {
  background-color: var(--color-gray-10);
  // font-family: var(--font-roboto), var(--font-noto), "sans-serif";
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
  z-index: 1;
}

.footer-infobox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

img {
  width: 10rem;
}

.footer-info {
  display: flex;
  font-size: var(--title-big);
  color: var(--color-gray-100);
  gap: 2rem;

  .info-bold {
    font-weight: 600;
  }
}
.footer-content {
  font-size: var(--title-small);
  color: var(--color-gray-90);

  .footer-end {
    margin: 2rem 0;
  }
}

.github-link {
  font-size: var(--title-medium);
  color: var(--color-gray-100);
  font-weight: 500;
}

@media (max-width: 499px) {
  .footer-infobox {
    flex-direction: column;
    justify-content: flex-start;

    .footer-info {
      order: 1;
    }

    img-box {
      width: 8rem;
      padding-bottom: 2rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  img-box {
    width: 8rem;
    padding-bottom: 2rem;
  }
}
