.accordion {
  .accordion-header {
    font-size: var(--title-big);
    display: block;
    width: 100%;
    padding: var(--title-extra) 0;
    border-bottom: 1px solid var(--color-gray-30);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &::after {
      content: "";
      background: url(/img/icon-accordion-primary.svg) no-repeat center / cover;
      width: var(--title-extra);
      aspect-ratio: 1/1;
      transition: all var(--transition-duration);
    }
    &.act::after {
      transform: rotate(180deg);
    }

    .badge {
      vertical-align: 0.1em;
      margin-left: 0.6rem;
    }
  }
  .accordion-body {
    display: none;
    padding: var(--title-extra) 0;
    border-bottom: 1px solid var(--color-gray-30);
    color: var(--color-gray-100);
    font-size: var(--title-medium);
    word-break: keep-all;

    &.act {
      display: block;
    }
    pre {
      white-space: pre-line;
    }
  }

  &:not(.small) {
    .accordion-body {
      max-height: 16rem;
      overflow: auto;
    }
  }

  // small version
  &.small {
    .accordion-header {
      font-size: var(--title-medium);
      padding: var(--title-min) 0;
      border-bottom: unset;
      align-items: center;

      &::after {
        background-image: url(/img/icon-accordion-blue.svg);
        background-size: 1.2rem;
      }
    }

    .accordion-body {
      font-size: var(--title-small);
      padding: unset;
      padding-bottom: var(--title-min);
      margin-bottom: 1.4rem;
    }
  }
}
