.modal-window:has(.userTest) {
  width: 90vw;
  max-width: 70rem;

  pre {
    text-wrap-mode: wrap;
  }
}

// bottomRightUi에 맞춰 기존 modal 스타일 변경
.modal-window:has(.bottomRightUi) {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  padding-top: 2.4rem;

  .modal-button-container {
    display: none;
  }
  .modal-content {
    margin: 0;
  }
}

.userTest {
  font-size: var(--title-large);
  word-break: keep-all;

  section {
    & + section {
      margin-top: 2rem;
    }
  }

  // 공통 클래스
  .info {
    background: var(--color-gray-30);
    font-weight: normal;
    padding: 1.8rem;
    border-radius: 1rem;
  }

  .list {
    text-align: left;
    padding: 0 1rem;

    li {
      position: relative;
      display: flex;
      gap: 1rem;

      & + li {
        margin-top: 0.4rem;
      }
      &::before {
        content: "-";
      }
    }
  }

  .visitedPage {
    .progress {
      position: relative;
      inset: unset;

      ul {
        width: calc(100% + 2rem);
        left: 50%;
        transform: translateX(-50%);

        &::before {
          width: calc(100% - 18%);
          left: 50%;
          transform: translateX(-50%);
        }

        li:first-child,
        li:last-child {
          align-items: center;
        }
      }
    }
  }

  .mission {
    font-size: 1.03em;

    ol {
      position: relative;

      li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.65em;
          width: 1.5em;
          aspect-ratio: 1/1;
          background: var(--color-gray-90);
          border-radius: 50%;
          color: #fff;
          flex-shrink: 0;
          margin-top: -0.1rem;
        }
        p {
          line-height: 1.6;
        }
      }
    }
  }

  .guide {
    color: var(--color-gray-100);
    font-size: 0.93em;
  }
}

// 항상 떠있는 fixed 버튼
.userTest-button-wr {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 999;

  .userTest-button {
    display: block;
    width: 5rem;
    aspect-ratio: 1/1;
    background: var(--color-primary) url(/img/icon-usertest-btn.svg) no-repeat
      center;
    border-radius: 50%;
    position: relative;
    transition: all var(--transition-duration);

    &:hover {
      background-color: var(--color-primary-hover);
    }
  }
}

// bottomRightUi
.userTest.bottomRightUi {
  margin: unset;
  display: flex;
  flex-direction: column;

  .scroll-box {
    overflow: hidden auto;
    max-height: 40vh;
    mask-image: linear-gradient(
      black calc(100% - 3rem),
      transparent calc(100% - 4px)
    );
    padding: 0 1rem 2rem 0;

    .page-mission {
      font-size: 1.04em;
      font-weight: 500;

      a {
        color: var(--color-error);
        border-bottom: 1px solid;
        background: url(/img/icon-arrow-primary.svg) no-repeat top 0.3rem right;
        padding-right: 1rem;
      }
    }
    .desc {
      &:before {
        content: "";
        position: relative;
        display: inline-block;
        vertical-align: text-top;
        background: url(/img/icon-warning.svg) no-repeat left center / 100%;
        width: 1.5rem;
        aspect-ratio: 1/1;
        margin-right: 0.6rem;
      }
    }
    .guide {
      li {
        &:not(.sub):before {
          content: "Q.";
        }
        &.sub {
          padding-left: 1.8rem;
        }
      }
    }
  }
  .fixed-box {
    padding: 0.1rem;
    display: flex;
    gap: 0.6rem;

    button {
      font-size: var(--title-small);
    }
  }
}

@media (max-width: 1023px) {
  .userTest {
    font-size: 1.5rem;
  }

  .userTest-button-wr {
    .userTest-button {
      width: 4rem;
    }
  }
}
