.filter {
  .filter-title {
    font-size: var(--title-medium);
    font-weight: 500;
  }

  .filter-subtitle {
    margin-bottom: 1rem;
    font-size: var(--title-small);
    font-weight: 400;
  }

  .filter-contents {
    &.nonstop {
      & > input[type="checkbox"] {
        display: none;
      }
    }

    &.time {
      padding-right: 1.2rem;
      margin-bottom: 5rem;
      display: flex;

      .time-selection {
        width: 25%;
        flex-grow: 1;
        flex-shrink: 0;
        padding-right: 0.1rem;
        box-sizing: border-box;
        position: relative;
        background-color: var(--color-white);

        .time-legend {
          position: absolute;
          bottom: -2rem;
          left: 0;
          transform: translateX(-50%);
          line-height: 1rem;
          font-size: var(--title-min);
          font-weight: 500;
          color: var(--color-gray-100);

          &.first {
            transform: unset;
          }

          &.last {
            left: unset;
            transform: unset;
            right: 0;
          }
        }

        & > input[type="checkbox"] {
          display: none;
        }

        & label > span {
          display: block;
          height: 2.4rem;
          background-color: var(--color-primary-30);
        }

        & > input[type="checkbox"]:checked + label > span {
          background-color: var(--color-primary);
        }

        &:not(:last-child)::after {
          content: "";
          display: block;
          width: 0.1rem;
          height: 0.8rem;
          background-color: var(--color-gray-90);
          position: absolute;
          bottom: -0.8rem;
          right: 0;
        }

        &:first-child {
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem;

          & label > span {
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
          }
        }

        &:last-child {
          padding-right: unset;
          border-top-right-radius: 1rem;
          border-bottom-right-radius: 1rem;

          & label > span {
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
          }
        }
      }
    }

    &.airlines {
      .all-check {
        display: flex;
        gap: 1rem;
        padding-bottom: var(--title-min);
        margin-bottom: 2rem;
        border-bottom: 0.1rem solid var(--color-gray-30);

        & input[type="checkbox"] {
          display: none;
        }

        & label {
          font-size: var(--title-small);
          font-weight: 500;
          color: var(--color-gray-90);
          cursor: not-allowed;
        }

        & input[type="checkbox"]:checked + label {
          color: var(--color-primary);
          cursor: pointer;
        }

        & li:first-child {
          display: flex;
          gap: 1rem;
          align-items: center;

          & label::after {
            content: "";
            display: inline-block;
            width: 0.1rem;
            height: 1rem;
            background-color: var(--color-gray-90);
            margin-left: 1rem;
          }
        }
      }

      .alliance {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
        padding-bottom: var(--title-min);
        margin-bottom: 2rem;
        border-bottom: 0.1rem solid var(--color-gray-30);

        & li {
          width: 50%;
          flex-grow: 1;
          flex-shrink: 0;

          & label {
            color: var(--color-black);
          }
        }
      }

      .airline {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
        padding-bottom: var(--title-min);
        margin-bottom: 2rem;

        & li {
          width: 50%;
          flex-grow: 1;
          flex-shrink: 0;
          padding-right: 1rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          & label {
            color: var(--color-black);
          }
        }
      }
    }

    &.maxPrice {
      & input[type="range"] {
        width: 100%;
        height: 0.4rem;
      }

      & label {
        display: block;
        margin-bottom: 1rem;
        font-size: var(--title-small);
        font-weight: 500;
        color: var(--color-black);
      }
    }
  }
}

@media (max-width: 1023px) {
  .filter {
    padding: 0 var(--layout-padding);
    margin-bottom: 3rem;

    .filter-contents {
      &.time {
        padding-right: unset;
        margin-bottom: 5rem;
      }
    }
  }
}
