.result {
  position: relative;

  .full-width {
    min-width: 320px;
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .search-info {
    padding: 4rem 0;
    background-image: url("/img/img-airplane-result.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
  }

  .search-result {
    .search-result-layout {
      width: 100%;
      max-width: var(--layout-pc);
      margin: 0 auto;
      padding: 2rem 0;
      box-sizing: border-box;
      display: flex;
      position: relative;
    }

    .search-filter {
      width: 20%;
      height: 100%;
      padding: 2rem 0;
      flex-shrink: 0;

      .result-list-sort {
        width: 20%;
        position: absolute;
        top: 4rem;
        right: 2rem;

        & p {
          font-size: var(--title-medium);
          font-weight: 500;
          display: none;
        }

        .sorting {
          background-color: var(--color-white);
        }
      }
    }

    .search-result-list {
      flex-grow: 1;
      flex-shrink: 0;
      padding: 2rem;
      box-sizing: border-box;

      .result-list-header {
        display: flex;
        gap: 2rem;
        align-items: center;
        margin-bottom: 3rem;

        .result-list-text {
          .result-list-title {
            font-size: var(--title-big);
            font-weight: 500;
            margin-bottom: 0.5rem;

            & span {
              font-weight: 700;
            }
          }

          .result-list-description {
            font-size: var(--title-small);
            font-weight: 400;
            color: var(--color-gray-90);
          }
        }
      }
    }

    .no-search-result {
      flex-grow: 1;
      flex-shrink: 0;

      padding: 15rem 0;
      box-sizing: border-box;

      display: flex;
      flex-direction: column;
      gap: 2rem;
      justify-content: unset;
      align-items: center;

      & .img-box {
        width: 4rem;
        height: 4rem;
      }

      & .no-result-message {
        text-align: center;

        & .no-result-title {
          font-size: var(--title-extra);
          font-weight: 500;
          margin-bottom: 0.5rem;
        }

        & .no-result-description {
          font-size: var(--title-medium);
          font-weight: 500;
          color: var(--color-gray-90);
        }
      }
    }

    .filter-button {
      display: none;
    }
  }

  &::before {
    content: "";
    display: block;
    background: var(--color-gray-10);
    width: 100vw;
    height: calc(100% + 12rem);
    min-height: 100vh;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 1023px) {
  .result {
    .full-width {
      position: static;
      transform: unset;
      margin-left: calc(var(--layout-padding) * -1);
      margin-right: calc(var(--layout-padding) * -1);
      width: calc(100% + calc(var(--layout-padding) * 2));
    }

    .search-result {
      .search-result-layout {
        display: block;
      }

      .search-filter {
        display: none;

        &.is-active {
          display: block;
          width: unset;
          position: fixed;
          inset: 0;
          z-index: 9999;
          padding: unset;
          background-color: var(--color-white);
          margin-top: var(--header-height);
          margin-bottom: calc(var(--header-height) + 3rem);

          .mobile-filter-header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 9999;
            height: var(--header-height);
            background-color: var(--color-white);
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);

            & .close-button {
              position: absolute;
              width: 2rem;
              height: 2rem;
              top: 50%;
              right: var(--layout-padding);
              transform: translateY(-50%);
            }
          }

          .mobile-filter-container {
            height: calc(100vh - 2 * var(--header-height) - 3rem);
            overflow-y: auto;
          }

          .result-list-sort {
            width: 100%;
            position: static;
            padding: 0 var(--layout-padding);
            margin-top: 3rem;
            margin-bottom: 1.4rem;

            .sort-container {
              padding-bottom: var(--title-min);
            }

            & p {
              display: block;
              padding: var(--title-min) 0;
            }
          }

          .mobile-filter-done {
            padding: 0 var(--layout-padding);
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 9999;
            height: calc(var(--header-height) + 3rem);
            background-color: var(--color-white);
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 -0.1rem 0.2rem rgba(0, 0, 0, 0.2);
          }
        }
      }

      .search-result-list {
        padding: unset;
        flex-shrink: 1;

        .result-list-header {
          display: block;
          margin-bottom: 1rem;

          .result-list-text {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 2rem;

            .result-list-title {
              font-size: var(--title-small);
              flex-grow: 1;
            }

            .result-list-description {
              margin-left: auto;

              & span {
                display: none;
              }
            }
          }
        }
      }

      .filter-button {
        display: unset;
        position: fixed;
        bottom: 5rem;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--color-primary-30);
        padding: 1rem 2rem;
        border-radius: 2.2rem;

        display: flex;
        align-items: center;
        gap: 1.2rem;

        &:hover {
          box-shadow: inset 0 0 0 0.2rem var(--color-primary);
        }

        &.img-box {
          width: 2rem;
          height: 1.7rem;
        }

        & span {
          font-size: var(--title-medium);
          font-weight: 500;
          color: var(--color-primary);
        }
      }

      .no-search-result {
        padding: 5rem 0;
      }
    }

    &::before {
      height: calc(100% + 5.6rem);
    }
  }
}
